<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ConnectionUrl" value="http://192.168.131.2:9800"/>
    <add key="MappingsFilePath" value="CommandRiskMappings.txt"/>
    <add key="PreprocessIndex" value="power-shell-limbo"/>
    <add key="WorkHoursStart" value="07:30"/>
    <add key="WorkHoursEnd" value="16:30"/>
  </appSettings>
</configuration>
